<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.mco"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSsrGbZTCAFQKMdPoqPpiwO7Qg-bkIFfo" />

        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.CalculatorActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activity.SignUpActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activity.ProgressTrackerActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Activity.MapsTrackerActivity"
            android:exported="false">
        </activity>


    </application>

</manifest>